{% extends 'index.html' %}
{% block media %}
    <style type="text/css">
    </style>
{% endblock %}
{% block content %}
<div itemscope itemtype="http://schema.org/HomeAndConstructionBusiness">
<h2 class='title'>ООО "<span itemprop='name'>Березниковский кирпичный завод</span></h2>
    <h3 class='title' itemprop='description'>Предприятие по выпуску керамического пустотелого кирпича</h3>
<h2>Телефон</h2>
<ul >
    <li>Приемная: тел./факс &#8212; <span itemprop='faxNumber'>(3424) 29-47-46</span></li>
    <li>Коммерческий отдел: тел. &#8212; <span itemprop='telephone'>(3424) 29-47-57</span></li>
    <li>Бухгалтерия: тел. &#8212; <span itemprop='telephone'>(3424) 29-47-88</span></li>
</ul>
<h2>Сайт в интернете</h2>
    <p>
    <a itemprop='url' href='http://xn--80adehpbqccsd4bn8k.xn--p1ai'>ВластелинГлины.рф</a>
    </p>
<h2>Электронная почта</h2>
    <p><a itemprop='email' href="mailto:ooobkz@mail.ru">ooobkz@mail.ru</a> или
        <a itemprop='email' href="mailto:ooobkz@gmail.com">ooobkz@gmail.com</a></p>
<h2>Адрес</h2>
<address itemprop='address' itemscope itemtype="http://schema.org/PostalAddress">
    <span itemprop="postalCode">618426</span>,
    <span itemprop="addressCountry">Россия</span>,
    <span itemprop="addressRegion">Пермский край</span>,
    г.<span itemprop="addressLocality">Березники</span>,
    ул.<span itemprop="streetAddress">Сильвинитная 1А</span>
</address>
<h2>Местоположение</h2>
    <p itemscope itemprop='geo' itemtype='http://schema.org/GeoCoordinates'>
        Березниковский кирпичный завод находится на промышленной площадке
        <abbr itemprop='containedIn' title='Березниковское калийное рудоуправление №2'>БКРУ-2</abbr>
        <meta itemprop='name' content='ООО "Березниковский кирпичный завод"'>
        <meta itemprop='latitude' content='59.36509'>
        <meta itemprop='longitude' content='56.91367'>
    </p>
<h2>Карта</h2>
    <p>Схему проезда находится в разделе <a itemprop='maps' href='/place/'>карта</a>.</p>
<h2>
    Часы работы
</h2>
<ul>
    <li><meta itemprop='openingHours' content='Пн-Чт 8:00-17:00'>Понедельник &#8212; четверг: 8:00-17:00</li>
    <li><meta itemprop='openingHours' content='Пт 8:00-16:00'>Пятница: 8:00-16:00</li>
</ul>
<h2>Принимая валюта</h2>
    <div>
        <p>Мы принимаем в качестве отплаты <meta itemprop='currenciesAccepted' content='RUB'>российские рубли,
            есть возможность работать с НДС и без.</p>
<h2>Способы оплаты</h2>
<ul>
    <li itemprop="paymentAccepted">Наличный расчет</li>
    <li itemprop="paymentAccepted">Банковский перевод</li>
</ul>
    </div>
</div>

{% endblock %}
