<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Главная{% endblock %} - Березниковский кирпичный завод</title>
    <link href="/static/style.css" rel="stylesheet">

</head>
<body>
<ul id='navbar'>
        {% include 'menu.html' %}
    </ul>
<h1 id='masthead'>

    <a href="/">
        <img src="/static/images/logo.png" alt='Березниковский кирпичный завод: Пустотелый кирпич'>
    </a>
</h1>
<div id='ish'>
</div>
<div id='main'>
    <div id='content' class='column'>
        <div>asdlksdlkasjdf;laksjdf;laksjdf;alksjdf;lkj</div>
    </div>
    <div id='secondary' class='column'>
    <ul id='banners'>
        <li>
            <a href="{{ price.get_absolute_url }}">
                <h4>Прайс лист</h4>
                <p>от {{ price.date }}</p>

            </a>
        </li>
        <div id='choice'>
        <h3>Последние новости</h3>
            {% for n in news %}
            <p class="info">{{ n.d }}</p>
            <h4 class='title'><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h4>
            <p>{{ n.content|truncatewords:10 }}</p>
            {% endfor %}
        </div>
    </ul>
    </div>
{#    <div id='sidebar' class='column'></div>#}
</div>
    
</body>
</html>