<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ flatpage.title }}{% endblock %} - Березниковский кирпичный завод</title>
    <link href="/static/images/icon.png" rel="shortcut icon">

    <meta name='description' content='Сайт для ООО "Березниковский кирпичный завод"'>
    <meta name='author' content='Катаев Денис'>

    <link rel="stylesheet" type="text/css" href="/static/css/print.css" media="print" />
    <link href="/static/css/style.css" rel="stylesheet" media="all">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/dojo/1.6.1/dojo/dojo.xd.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    {% block media %}{% endblock %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26559528-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
{% block body %}
<body class='claro {% if flatpage.url == '/' %}root{% else %}{{ flatpage.url|cut:'/' }}{% endif %}'>

{% load pytils_dt %}
<ul id='navbar'>
    {% include 'menu.html' %}
{#    {% load webdesign %}#}
</ul>
<h1 id='masthead'>
    <a href="/" title='Главная' >
        <img src="/static/images/bkz_logo.png" alt='Березниковский кирпичный завод: Пустотелый кирпич'>
    </a>
</h1>

<div id='ish'>
    <a href="/news/1/" title='Березниковскому кирпичному заводу 20 лет!'>
    </a>
</div>
<div id='main'>
    {% block main %}
        <div id='content' class='column'>
            <div>
{#            <h1>{{ flatpage.title }}</h1>#}
                {% block content %}
                {% if flatpage.date %}
                    <h1>{{ flatpage.title }}</h1>
                    <div class='ishinfo'>
                        {{ flatpage.date|ru_strftime_inflected:'%d %B %Y' }}
                    </div>
                {% endif %}

                <div id='articletext'>{{ flatpage.content|safe }}</div>

            {% endblock %}</div>
        </div>
        <div id='secondary' class='column'>
        {% block secondary %}
            <ul id='banners'>
                <li class='priceList'>
                    <a href="{{ price.get_absolute_url }}">
                        <h4>Прайс лист</h4>
                        <abbr title='{{ price.date.isoformat }}'>от {{ price.date }}</abbr>
                    </a>
                </li>
            </ul>
            <div id='choice'>
                {#        <h3>Последние новости</h3>#}
                {% for n in news %}
                    <h4 class='title'><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></h4>
                    <abbr title='{{ n.date.isoformat }}' class="info">{{ n.date|ru_strftime_inflected:'%d %B %Y' }}</abbr>
                    {{ n.content|safe|truncatewords_html:8 }}
                {% endfor %}
            </div>
        {% endblock %}
        </div>
        {#    <div id='sidebar' class='column'></div>#}
    {% endblock main %}
</div>
<div id='footer'>
    <p id='copyright'><span>&copy ООО &#8220Березниковский кирпичный завод&#8221,
        <span class='years'>2011 &#8212 {% now "Y" %}</span>
    </span></p>
{#    <address><p>#}
{#        618426, Россия, Пермский край, г.Березники, ул.Сильвинитная, 1А</p>#}
{#    </address>#}
</div>
</body>
{% endblock %}
</html>