{% extends 'index.html' %}
{% block title %}{{ priceList }}{% endblock %}
{% block content %}
    <table>
        <thead>
        <tr>
            <th>№ п\п</th>
            <th colspan="2">Вид кирпича</th>
            <th>Основные характеристики</th>
            <th>Марки по прочности</th>
            <th>Цена <span class='nds'>за физ. шт., без НДС, руб</span></th>
        </tr>
        </thead>
    <tbody>
        {% for b in priceList.brick %}
            <tr>
                <td>{{ b.order }}</td>
            {% ifchanged b.color %}<td rowspan="{{ b.col }}">{{ b.color }}</td>
                <td rowspan="{{ b.col }}"><p>Кирпич керамический <span class='view'>{{ b.view|lower }}</span>
                    пустотелый <span class='width'>{{ b.width|lower }}</span></p>
                    <div>{{ b.width.size }}</div>
                    <b>{{ b.GOST }}</b>
                </td>
                <td rowspan="{{ b.col }}" class="chars">
                    <ul>{% for c in b.chars %}
                            <li>{{ c.label }}<span>{{ c.value }} {{ c.un }}</span></li>
                        {% endfor %}
                    </ul>
                </td>
            {% endifchanged %}
                <td colspan="2">
                    <ul class='price'>{% for m in b.mark_price.all %}
                        <li>{{ m.mark }}<span>{{ m.price }}</span></li>
                    {% endfor %}
                </ul>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}