header {text-align: center;}
header ul {float: left;position: fixed; list-style: circle; text-align: left;}
header ul a { color:#a52a2a;}

footer {text-align: center;font-style: italic;}

#main {width: 780px; margin-left: auto;margin-right: auto;}