<ul>
    <li><a class="{% ifequal request.path "/" %}curent{% endifequal %}" href="/" title="">Меню</a></li>
    <li><a class="{% ifequal request.path "/about/" %}curent{% endifequal %}" href="/about/">О нас</a></li>
    <li><a class="{% ifequal request.path "/production/" %}curent{% endifequal %}" href="/production/" title="">Продукция</a></li>
    <li><a class="{% ifequal request.path "/personal/" %}curent{% endifequal %}" href="/personal/" title="">Люди</a></li>
    <li><a class="{% ifequal request.path "/contacts/" %}curent{% endifequal %}" href="/contacts/" title="">Контакты</a></li>
</ul>